[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
marshmallow = "==3.20.1"
psycopg2-binary = "==2.9.6"
werkzeug = "==2.2.2"
python-dotenv = "==1.0.0"
flask-migrate = "*"
sqlalchemy = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
